html, body {
    margin: 0;
    padding: 0;
    background-color: #e8e8e8;
}

#canva-iframe {
    display: block;
    width: 90%;
    max-width: 1200px;
    margin: 2vh auto;
    aspect-ratio: 1 / 1.414;
    border: none;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(81, 81, 81, 0.5);
}
